@{
    ViewData["Title"] = "Meus Contatos";
}

<div class="text-center">
    <h1 class="display-4">Meus Contatos</h1>
    <h4 class="border border-1">Whats</h4>
    <div>
        <p>+55 11 98929-8632</p>
    </div>
    <form>
        <h4 class="border border-1" style="max-width: auto">Email</h4>
        <div>
            <span>Seu Nome</span>
            <input type="text" class="form-control" />
            <br />
            <span>Envie-me um email usando seu melhor email</span>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <br />
            <span>Assunto:</span>
            <input type="text" class="form-control" />
            <br />
            <label for="floatingTextarea2">Texto do email:</label>
            <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
            <br />
            <span>Anexo:</span>
            <input type="file" />
            <br />
            <p>Ou envie para: giovannirobertssilva@outlook.com</p>
        </div>
    </form>
    <h4 class="border border-1">Linkendin</h4>
    <div>
        <a href="https://www.linkedin.com/in/giovanni-roberts/">Acesse meu Linkedin</a>
    </div>
        <h4 class="border border-1">Social</h4>
    <div>
        <p>Twitter: </p>
        <a href="https://twitter.com/GiovanniR_S">@@GiovanniR_S</a>
    </div>
</div>
