@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center text-white border-0">
    <img class="card-img rounded-0" src="~/img/welcome_background.jpg" />
    <div class="card-img-overlay">
        <h1 class="card-title">Bem vindo!</h1>
        <p class="card-text">Esse é meu mundo profissional. Meu nome é Giovanni Roberts Silva.</p>
        <p class="card-text">
            Este é o meu espaço virtual onde você pode explorar minha jornada, meus projetos e meu compromisso com a excelência.
            Venho desenvolvendo uma ampla gama de habilidades e experiências que gostaria de compartilhar com você
        </p>
    </div>
</div>
