@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Esse é meu mundo profissional. Meu nome é Giovanni Roberts Silva.</p>
    <p>Este é o meu espaço virtual onde você pode explorar minha jornada, meus projetos e meu compromisso com a excelência. 
        Venho desenvolvendo uma ampla gama de habilidades e experiências que gostaria de compartilhar com você</p>
</div>
