@{
    ViewData["Title"] = "Sobre Mim";
}

<div class="text-center">
    <h1 class="display-4">Sobre Mim</h1>
    <p>Profissional com mais de 1 ano e meio de experiência como desenvolvedor de APIs REST, atuando como PJ e utilizando Visual Studio .NET Core 7.0. 
        Possuo habilidades sólidas em diversas linguagens de programação, incluindo C++, C#, Java, além de conhecimento em tecnologias web como HTML e CSS. 
        Minha experiência se estende ao gerenciamento de dados, incluindo SQL Server, onde criei procedures e queries usando ADO.NET e Dapper.</p>
    <p>Além disso, mantenho um compromisso com as melhores práticas de engenharia de software, 
        demonstrado através da aplicação prática de princípios como injeção de dependência, 
        inversão de controle e os princípios do SOLID</p>
    <p>Antes de minha atuação como desenvolvedor, adquiri experiência valiosa como estagiário na área de QA Tester, 
        onde me especializei em automação de testes com JavaScript, utilizando a plataforma Cypress. 
        Isso me permitiu garantir a qualidade do software através de testes automatizados.</p>
    <p>Estou preparado para contribuir efetivamente em equipes de desenvolvimento de software e garantia de qualidade, 
        trazendo uma ampla gama de habilidades técnicas e um compromisso com a excelência.</p>
</div>