@{
    ViewData["Title"] = "Sobre Mim";
}

<div class="card border-0">
    <img class="card-img rounded-0 inverter-imagem" src="~/img/welcome_background.jpg" />

    <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.65)"></div>

    <h1 class="card-img-overlay card-title text-center mt-5 text-decoration-underline" style="font-size: 48px; color: rgb(220, 220, 220);">Sobre Mim</h1>

    <div class="card-img-overlay d-flex align-items-center">
        
        <div class="text-center justify-content-center" style="margin-bottom: 15%;">
            
            <div class="card-text w-75" style="margin-left:auto; margin-right:auto; font-size: 22px; color: rgb(220, 220, 220)">
                <p style="margin-bottom: 2%;">Profissional com mais de 1 ano e meio de experiência como desenvolvedor de APIs REST, atuando como PJ e utilizando Visual Studio .NET Core 7.0. 
                    Possuo conhecimentos em diversas linguagens de programação, incluindo C#, Python, C++, Java, além de experiência em tecnologias web como HTML e CSS.
                    Minha experiência se estende ao gerenciamento de dados, incluindo SQL Server, onde criei procedures e queries usando ADO.NET e Dapper.</p>
                <p style="margin-bottom: 2%;">
                    Além disso, mantenho um compromisso com as melhores práticas de engenharia de software,
                    demonstrado através da aplicação prática de princípios como injeção de dependência, 
                    inversão de controle e os princípios do SOLID</p>
                <p style="margin-bottom: 2%;">
                    Antes de minha atuação como desenvolvedor, adquiri experiência valiosa como estagiário na área de QA Tester,
                    onde me especializei em automação de testes com JavaScript, utilizando a plataforma Cypress. 
                    Isso me permitiu garantir a qualidade do software através de testes automatizados.</p>
                <p style="margin-bottom: 2%;">
                    Estou preparado para contribuir efetivamente em equipes de desenvolvimento de software e garantia de qualidade,
                    trazendo uma ampla gama de habilidades técnicas e um compromisso com a excelência.</p>
                <p style="margin-bottom: 2%;" class="text-decoration-underline">Se deseja conhecer meus trabalhos, clique no botão abaixo!</p>
             </div>

             

            <a class="btn btn-primary py-3 w-50 mt-5 rounded-pill shadow-lg" asp-controller="Home" asp-action="Trabalhos">Meus Trabalhos</a>

        </div>

        

    </div>
</div>