@{
    ViewData["Title"] = "Meus Trabalhos";
}

<div class="text-center">
    <h1 class="display-4">Meus Trabalhos</h1>
    <h3>Git Hub</h3>
    <p>Meu repositorio no git</p>
    <H3>Itch.io</H3>
    <p>Meu trabalhos com Games</p>
</div>
