@{
    ViewData["Title"] = "Meus Trabalhos";
}

<div class="text-center">
    <h1 class="display-4">Meus Trabalhos</h1>
    <div>
        <img width="96" height="96" src="https://img.icons8.com/fluency/96/github.png" alt="github" />
        <h3>Git Hub</h3>
        <p>Meu repositorio no git</p>
    </div>
    <H3>Itch.io</H3>
    <p>Meu trabalhos com Games</p>
</div>
